@page "/person/add"

@inject PersonsDbContext db
@inject NavigationManager navigationManager

<h3>Přidej novou osobu</h3>

@if(!string.IsNullOrEmpty(ErrorMsg))
{
    <div class="alert alert-error bg-danger" role="alert">
        @((MarkupString)ErrorMsg)
    </div>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm Model="@Person" OnSubmit="Submit" >
            
            <div class="form-group">
                <label class="control-label">
                    Jméno:
                    <InputText class="form-control" @bind-Value="Person.FirstName" />
                </label>
            </div>
            <div class="form-group">
                <label class="control-label">
                    Příjmení:
                    <InputText class="form-control" @bind-Value="Person.LastName" />
                </label>
            </div>
             <div class="form-group">
                <label class="control-label">
                    Datum narození:
                    <InputDate class="form-control" @bind-Value="Person.DateOfBirth" />
                </label>
            </div>
            <div class="form-group">
                <label class="control-label">
                    Email:
                    <InputText class="form-control" @bind-Value="Person.Email" />
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Přidat" class="btn btn-primary" />
            </div>
        </EditForm>
    </div>
</div>


@code {
    string ErrorMsg = "";

    Persons Person = new Persons(){DateOfBirth = DateTime.Today};

    void ValidSubmit()
    {
        db.Persons.Add(Person);
        db.SaveChanges();
        navigationManager.NavigateTo($"/person/detail/{Person.Id}", true);
    }

    void Submit()
    {
        ErrorMsg = "";

        if (string.IsNullOrEmpty(Person.FirstName))
            ErrorMsg += "Jméno je prázdné <br/>"; 

        if (string.IsNullOrEmpty(Person.LastName))
            ErrorMsg += "Příjmení je prázdné <br/>"; 

        if (Person.Age() <= 18)
            ErrorMsg += "Osoba není plnoletá <br/>"; 

        if(string.IsNullOrEmpty(ErrorMsg))
        {
            //ukladam
             db.Persons.Add(Person);
            db.SaveChanges();
            navigationManager.NavigateTo($"/person/detail/{Person.Id}", true);
        }
    }

}
