@page "/person/add"

@inject PersonsDbContext db
@inject NavigationManager navigationManager

<h3>Přidej novou osobu</h3>

@if(!string.IsNullOrEmpty(ErrorMsg))
{
    <div class="alert alert-error bg-danger" role="alert">
        @((MarkupString)ErrorMsg)
    </div>
}

<hr />

<BlazorServer.Components.PersonForm Person="Person" OnSubmitAction="ValidSubmit" />

@code {
    string ErrorMsg = "";

    Persons Person = new Persons()
    {
        DateOfBirth = DateTime.Today, 
        Address = new Addresses(), 
        Contracts = new List<Contracts>()
    };

    void ValidSubmit()
    {
        db.Persons.Add(Person);
        db.SaveChanges();
        navigationManager.NavigateTo($"/person/detail/{Person.Id}", true);
    }

    void Submit()
    {
        ErrorMsg = "";

        if (string.IsNullOrEmpty(Person.FirstName))
            ErrorMsg += "Jméno je prázdné <br/>"; 

        if (string.IsNullOrEmpty(Person.LastName))
            ErrorMsg += "Příjmení je prázdné <br/>"; 

        if (Person.Age() <= 18)
            ErrorMsg += "Osoba není plnoletá <br/>"; 

        if(string.IsNullOrEmpty(ErrorMsg))
        {
            //ukladam
             db.Persons.Add(Person);
            db.SaveChanges();
            navigationManager.NavigateTo($"/person/detail/{Person.Id}", true);
        }
    }

}
