@page "/person/list"
@using Data.Model
@using Microsoft.EntityFrameworkCore

@inject PersonsDbContext db

<h3>Seznam osob</h3>


<div class="m-2">
    <a class="btn-info btn" href="/person/add">Nová..</a>
</div>

@if (Persons == null)
{
    <div class="alert-info">
        Načítám..
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Jméno</th>
                <th scope="col">Příjmení</th>
                <th scope="col">Email</th>
                <th />
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Persons)
            {
                <tr>
                    <td>
                        @person.Id
                    </td>
                    <td>
                        @person.FirstName
                    </td>
                    <td>
                        @person.LastName
                    </td>
                    <td>
                        @person.Email
                    </td>
                    <td>
                        <a class="btn-info btn" href="/person/edit/@person.Id">Editovat</a>
                        <a class="btn-info btn" href="/person/detail/@person.Id">Detail</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @if (showBtnNext)
    {
        <input type="button" value="Načti dalších 50" @onclick="LoadNext" class="btn btn-info" />
    }
}

@code {
    List<Persons> Persons = null;

    int last = 50;

    int personsCount = 0;

    bool showBtnNext = true;

    protected override void OnInitialized()
    {

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Persons = await db.Persons.Take(50).ToListAsync();
            personsCount = db.Persons.Count();
        }

        StateHasChanged();
    }


    void LoadNext()
    {
        var toadd = db.Persons.Skip(last).Take(50).ToList();
        Persons.AddRange(toadd);
        last += 50;

        if (last > personsCount)
        {
            showBtnNext = false;
        }
    }
}
