@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @*<h4 class="display-4">Počet osob v db:</h4>
    <div><strong>@Model.PersonCount</strong></div>*@
</div>
