@model List<Person>

@{
    ViewData["Title"] = "Seznam osob";
}

<p>@ViewData["Message"]</p>

<p>@ViewBag.OsobaJmeno</p>

@foreach (var person in Model)
{
    <p>@person.FirstName @person.LastName</p>    
}
