@model List<Person>

@{
    ViewData["Title"] = "Seznam osob";
}

@foreach (var person in Model)
{
    <p><a asp-controller="Person" asp-action="Detail" asp-route-id="@person.Id"> @person.FirstName @person.LastName</a></p>    
}
